# About

This notebook is to split the attribute and hours columns (columns of dicts) in Yelp restaurant dataset into individual columns and then split the sub-attribute columns that are dicts into separate columns. 
test

In [1]:
import pandas as pd
import numpy as np
import ast

# Load Yelp restaurant dataset

In [2]:
restaurant_path = "dataset_team7/yelp_team7_dataset_restaurant.json"
restaurant_df = pd.read_json(restaurant_path)

In [3]:
restaurant_df.shape

(14970, 14)

In [4]:
restaurant_df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,PORTLAND,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
1,ufCxltuh56FF4-ZFZ6cVhg,Sister Honey's,247 E Michigan St,ORLANDO,FL,32806,28.513265,-81.374707,4.5,135,1,"{'BusinessParking': '{'garage': False, 'street...","Restaurants, American (New), Bakeries, Dessert...","{'Tuesday': '11:0-18:0', 'Wednesday': '11:0-18..."
2,jGennaZUr2MsJyRhijNBfA,Legal Sea Foods,1 Harborside Dr,BOSTON,MA,02128,42.363442,-71.025781,3.5,856,1,"{'NoiseLevel': 'u'average'', 'BikeParking': 'F...","Sandwiches, Food, Restaurants, Breakfast & Bru...","{'Monday': '6:0-21:0', 'Tuesday': '6:0-21:0', ..."
3,iPD8BBvea6YldQZPHzVrSQ,Espresso Minute,334 Mass Ave,BOSTON,MA,02115,42.342673,-71.084239,4.5,7,0,"{'NoiseLevel': ''quiet'', 'GoodForKids': 'True...","Creperies, Restaurants, Food, Coffee & Tea, Br...","{'Tuesday': '8:0-20:0', 'Wednesday': '8:0-20:0..."
4,jx91IMdGOmLOo8h_F9z39g,Cleary's Restaurant & Spirits,12429 NE Glisan St,PORTLAND,OR,97230,45.526473,-122.535323,3.5,19,1,"{'RestaurantsGoodForGroups': 'True', 'Alcohol'...","Nightlife, Sandwiches, Seafood, Restaurants","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14965,m5eUPVD0Hu39Ff-Uqe-FLA,The Italian Joint,3145 SE Hawthorne Blvd,PORTLAND,OR,97203,45.512196,-122.632865,3.5,20,0,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Italian, Restaurants",None
14966,87f7kR7nTz8WHnmtLM_S6w,O Ya,9 East St Pl,BOSTON,MA,02111,42.351408,-71.056867,4.5,737,1,"{'RestaurantsPriceRange2': '4', 'RestaurantsGo...","Japanese, Sushi Bars, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '17:0-21:30',..."
14967,jYgqSazE0gUyI7qq086Dzw,Chart House,5700 SW Terwilliger,PORTLAND,OR,97239,45.483154,-122.682748,3.5,457,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Event Planning & Services, Steakhouses, Seafoo...","{'Tuesday': '16:0-21:0', 'Wednesday': '16:0-21..."
14968,r5Uag1JqYjr2nbxQCVqm8A,Saigon Noodle & Grill,101 N Bumby Ave,ORLANDO,FL,32803,28.544430,-81.351606,4.5,437,1,"{'Alcohol': 'u'beer_and_wine'', 'RestaurantsAt...","Restaurants, Noodles, Salad, Vietnamese, Veget...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-21:30'..."
14969,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,ATLANTA,GA,30324,33.810996,-84.367084,3.0,185,1,"{'WiFi': 'u'no'', 'BusinessAcceptsCreditCards'...","Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [5]:
restaurant_df.dtypes

business_id      object
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
is_open           int64
attributes       object
categories       object
hours            object
dtype: object

# Splitting attributes and hours columns to multiple columns

In [6]:
# splitting hours column
restaurant_df = restaurant_df.join(pd.DataFrame(restaurant_df['hours'].to_dict()).T)

# split attributes to sub-attributes
restaurant_df = restaurant_df.join(pd.DataFrame(restaurant_df['attributes'].to_dict()).T)

# restaurant_df.drop('hours', axis=1, inplace=True) #to drop the original hours column
# restaurant_df.drop('attributes', axis=1, inplace=True) #to drop the original attributes column

In [7]:
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,WheelchairAccessible,CoatCheck,Smoking,BYOBCorkage,Corkage,BYOB,DriveThru,RestaurantsCounterService,Open24Hours,DietaryRestrictions
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,PORTLAND,OR,97218,45.588906,-122.593331,4.0,126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ufCxltuh56FF4-ZFZ6cVhg,Sister Honey's,247 E Michigan St,ORLANDO,FL,32806,28.513265,-81.374707,4.5,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jGennaZUr2MsJyRhijNBfA,Legal Sea Foods,1 Harborside Dr,BOSTON,MA,02128,42.363442,-71.025781,3.5,856,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,iPD8BBvea6YldQZPHzVrSQ,Espresso Minute,334 Mass Ave,BOSTON,MA,02115,42.342673,-71.084239,4.5,7,...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jx91IMdGOmLOo8h_F9z39g,Cleary's Restaurant & Spirits,12429 NE Glisan St,PORTLAND,OR,97230,45.526473,-122.535323,3.5,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
restaurant_df.shape

(14970, 57)

In [9]:
# checking the list of columns
restaurant_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Saturday', 'Sunday', 'RestaurantsTakeOut',
       'RestaurantsAttire', 'GoodForKids', 'BikeParking', 'OutdoorSeating',
       'Ambience', 'Caters', 'RestaurantsReservations', 'RestaurantsDelivery',
       'HasTV', 'RestaurantsGoodForGroups', 'BusinessAcceptsCreditCards',
       'NoiseLevel', 'ByAppointmentOnly', 'RestaurantsPriceRange2', 'WiFi',
       'BusinessParking', 'Alcohol', 'GoodForMeal', 'DogsAllowed', 'Music',
       'BusinessAcceptsBitcoin', 'GoodForDancing', 'BestNights', 'HappyHour',
       'RestaurantsTableService', 'WheelchairAccessible', 'CoatCheck',
       'Smoking', 'BYOBCorkage', 'Corkage', 'BYOB', 'DriveThru',
       'RestaurantsCounterService', 'Open24Hours', 'DietaryRestrictions'],
      dtype='object')

In [10]:
# further split sub-attributes (dicts) into their own columns
cols_to_split = ['Ambience', 'BusinessParking', 'GoodForMeal', 'Music',  'BestNights', 'DietaryRestrictions']

for col_to_split in cols_to_split:
    #converting NA to string of empty dict
    restaurant_df[[col_to_split]] = restaurant_df[[col_to_split]].fillna('{}') 

    #converting string of dict to dict
    restaurant_df[col_to_split] = restaurant_df[col_to_split].apply(ast.literal_eval) 

    #splitting col_to_split and creating a new df
    new_df = pd.DataFrame(restaurant_df[col_to_split].to_dict()).T 
    new_df.columns = [col_to_split + '_' + str(col) for col in new_df.columns]

    #joining new_df to restaurant_df
    restaurant_df = restaurant_df.join(new_df) 

restaurant_df.drop(cols_to_split, axis=1, inplace=True) #dropping the sub-attributes columns after splitting

In [11]:
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,BestNights_thursday,BestNights_sunday,BestNights_saturday,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,PORTLAND,OR,97218,45.588906,-122.593331,4.0,126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ufCxltuh56FF4-ZFZ6cVhg,Sister Honey's,247 E Michigan St,ORLANDO,FL,32806,28.513265,-81.374707,4.5,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jGennaZUr2MsJyRhijNBfA,Legal Sea Foods,1 Harborside Dr,BOSTON,MA,02128,42.363442,-71.025781,3.5,856,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,iPD8BBvea6YldQZPHzVrSQ,Espresso Minute,334 Mass Ave,BOSTON,MA,02115,42.342673,-71.084239,4.5,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jx91IMdGOmLOo8h_F9z39g,Cleary's Restaurant & Spirits,12429 NE Glisan St,PORTLAND,OR,97230,45.526473,-122.535323,3.5,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
restaurant_df.shape

(14970, 92)

In [13]:
# checking the final list of columns
restaurant_df.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Saturday', 'Sunday', 'RestaurantsTakeOut',
       'RestaurantsAttire', 'GoodForKids', 'BikeParking', 'OutdoorSeating',
       'Caters', 'RestaurantsReservations', 'RestaurantsDelivery', 'HasTV',
       'RestaurantsGoodForGroups', 'BusinessAcceptsCreditCards', 'NoiseLevel',
       'ByAppointmentOnly', 'RestaurantsPriceRange2', 'WiFi', 'Alcohol',
       'DogsAllowed', 'BusinessAcceptsBitcoin', 'GoodForDancing', 'HappyHour',
       'RestaurantsTableService', 'WheelchairAccessible', 'CoatCheck',
       'Smoking', 'BYOBCorkage', 'Corkage', 'BYOB', 'DriveThru',
       'RestaurantsCounterService', 'Open24Hours', 'Ambience_romantic',
       'Ambience_intimate', 'Ambience_touristy', 'Ambience_hipster',
       'Ambience_divey', 'Ambience_classy', 'Ambience_trendy',
       'Ambience_upscale', 'Ambience_casual', 'BusinessParking_garage',
       'BusinessParking_street', 'BusinessParking_validated',
       'BusinessParking_lot', 'BusinessParking_valet', 'GoodForMeal_dessert',
       'GoodForMeal_latenight', 'GoodForMeal_lunch', 'GoodForMeal_dinner',
       'GoodForMeal_brunch', 'GoodForMeal_breakfast', 'Music_dj',
       'Music_background_music', 'Music_no_music', 'Music_jukebox',
       'Music_live', 'Music_video', 'Music_karaoke', 'BestNights_monday',
       'BestNights_tuesday', 'BestNights_friday', 'BestNights_wednesday',
       'BestNights_thursday', 'BestNights_sunday', 'BestNights_saturday',
       'DietaryRestrictions_dairy-free', 'DietaryRestrictions_gluten-free',
       'DietaryRestrictions_vegan', 'DietaryRestrictions_kosher',
       'DietaryRestrictions_halal', 'DietaryRestrictions_soy-free',
       'DietaryRestrictions_vegetarian'],
      dtype='object')

# Cleaning up string columns

In [14]:
cols_to_clean = ['RestaurantsAttire', 'NoiseLevel', 'WiFi', 'Alcohol', 'Smoking', 'BYOBCorkage']

In [15]:
for col_to_clean in cols_to_clean:
    print(col_to_clean)
    print(restaurant_df[col_to_clean].unique())
    restaurant_df[col_to_clean] = restaurant_df[col_to_clean].str.replace("u'" , "")
    restaurant_df[col_to_clean] = restaurant_df[col_to_clean].str.replace("'" , "")
    restaurant_df[col_to_clean] = restaurant_df[col_to_clean].str.lower()
    print(restaurant_df[col_to_clean].unique())

RestaurantsAttire
["u'casual'" nan "'casual'" None "u'dressy'" "'dressy'" "u'formal'"
 "'formal'" 'None']
['casual' nan None 'dressy' 'formal' 'none']
NoiseLevel
["u'average'" "u'quiet'" "'quiet'" nan "'average'" "u'loud'" None
 "'very_loud'" "u'very_loud'" "'loud'" 'None']
['average' 'quiet' nan 'loud' None 'very_loud' 'none']
WiFi
["u'free'" nan "u'no'" "'no'" None "'free'" "u'paid'" "'paid'" 'None']
['free' nan 'no' None 'paid' 'none']
Alcohol
["u'beer_and_wine'" nan "u'full_bar'" "'none'" "u'none'" "'full_bar'" None
 "'beer_and_wine'" 'None']
['beer_and_wine' nan 'full_bar' 'none' None]
Smoking
[nan "u'no'" None "u'outdoor'" "u'yes'" "'no'" "'yes'" 'None']
[nan 'no' None 'outdoor' 'yes' 'none']
BYOBCorkage
[nan "'no'" "'yes_free'" None "'yes_corkage'" 'None' "u'yes_corkage'"
 "u'no'"]
[nan 'no' 'yes_free' None 'yes_corkage' 'none']

In [16]:
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,BestNights_thursday,BestNights_sunday,BestNights_saturday,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,PORTLAND,OR,97218,45.588906,-122.593331,4.0,126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ufCxltuh56FF4-ZFZ6cVhg,Sister Honey's,247 E Michigan St,ORLANDO,FL,32806,28.513265,-81.374707,4.5,135,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jGennaZUr2MsJyRhijNBfA,Legal Sea Foods,1 Harborside Dr,BOSTON,MA,02128,42.363442,-71.025781,3.5,856,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,iPD8BBvea6YldQZPHzVrSQ,Espresso Minute,334 Mass Ave,BOSTON,MA,02115,42.342673,-71.084239,4.5,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jx91IMdGOmLOo8h_F9z39g,Cleary's Restaurant & Spirits,12429 NE Glisan St,PORTLAND,OR,97230,45.526473,-122.535323,3.5,19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
restaurant_df.to_json(r'yelp_team7_dataset_restaurant_updated.json')

# Saving unique column values in a csv for reference

In [18]:
# To save unique value of selected columns in a csv file with their counts. 
selected_cols =  ['city', 'state', 'stars', 'is_open', 'RestaurantsTakeOut',
       'RestaurantsAttire', 'GoodForKids', 'BikeParking', 'OutdoorSeating',
       'Caters', 'RestaurantsReservations', 'RestaurantsDelivery', 'HasTV',
       'RestaurantsGoodForGroups', 'BusinessAcceptsCreditCards', 'NoiseLevel',
       'ByAppointmentOnly', 'RestaurantsPriceRange2', 'WiFi', 'Alcohol',
       'DogsAllowed', 'BusinessAcceptsBitcoin', 'GoodForDancing', 'HappyHour',
       'RestaurantsTableService', 'WheelchairAccessible', 'CoatCheck',
       'Smoking', 'BYOBCorkage', 'Corkage', 'BYOB', 'DriveThru',
       'RestaurantsCounterService', 'Open24Hours', 'Ambience_romantic',
       'Ambience_intimate', 'Ambience_touristy', 'Ambience_hipster',
       'Ambience_divey', 'Ambience_classy', 'Ambience_trendy',
       'Ambience_upscale', 'Ambience_casual', 'BusinessParking_garage',
       'BusinessParking_street', 'BusinessParking_validated',
       'BusinessParking_lot', 'BusinessParking_valet', 'GoodForMeal_dessert',
       'GoodForMeal_latenight', 'GoodForMeal_lunch', 'GoodForMeal_dinner',
       'GoodForMeal_brunch', 'GoodForMeal_breakfast', 'Music_dj',
       'Music_background_music', 'Music_no_music', 'Music_jukebox',
       'Music_live', 'Music_video', 'Music_karaoke', 'BestNights_monday',
       'BestNights_tuesday', 'BestNights_friday', 'BestNights_wednesday',
       'BestNights_thursday', 'BestNights_sunday', 'BestNights_saturday',
       'DietaryRestrictions_dairy-free', 'DietaryRestrictions_gluten-free',
       'DietaryRestrictions_vegan', 'DietaryRestrictions_kosher',
       'DietaryRestrictions_halal', 'DietaryRestrictions_soy-free',
       'DietaryRestrictions_vegetarian']

#cols that are dict - had to hard code because there is no way to check
ignore_cols = ['attributes', 'hours']

column_name = []
unique_values = []
nan_count = []

for col in restaurant_df.columns:
    column_name.append(col)
    nan_count.append(restaurant_df[col].isna().sum())
    
    # Unique values of selected columns
    if col in selected_cols:
        unique_values.append(restaurant_df[col].unique())
        
    # If column values are dict, ignore
    elif col in ignore_cols:
        unique_values.append('NA') 

    # If there are too many unique values, just put the count of number of unique values
    else:
        unique_values.append(restaurant_df[col].nunique()) 

count_dict = {'Column_name':column_name, 'Unique_values':unique_values, 'Nan_count':nan_count}
restaurant_count_df = pd.DataFrame(count_dict)

In [19]:
restaurant_count_df

,Column_name,Unique_values,Nan_count
0,business_id,14970,0
1,name,12530,0
2,address,11706,0
3,city,"[PORTLAND, ORLANDO, BOSTON, AUSTIN, ATLANTA]",0
4,state,"[OR, FL, MA, TX, GA]",0
...,...,...,...
87,DietaryRestrictions_vegan,"[nan, False, True]",14950
88,DietaryRestrictions_kosher,"[nan, False]",14950
89,DietaryRestrictions_halal,"[nan, False]",14950
90,DietaryRestrictions_soy-free,"[nan, False]",14950
91,DietaryRestrictions_vegetarian,"[nan, False, True]",14950

In [20]:
restaurant_count_df.to_csv("restaurant_column_counts.csv",index=False)

# To-Do

1. We still need to figure out 'none' vs None vs nan columns. 
2. Cleaning up hours columns (Monday, Tuesday, Wednesday, Thursday, Friday, Saturday and Sunday)