# About

This notebook is to identify categories and attributes of bussinessess in the `yelp_team7_dataset_restaurant_old.json` that are likely to belong to non-resturants.

In [1]:
import json
import pandas as pd

# Load the restaurant dataset

In [2]:
restaurant_df = pd.read_json('yelp_team7_dataset_restaurant_old.json')

In [3]:
restaurant_df.shape

(20693, 14)

In [4]:
restaurant_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
1,ufCxltuh56FF4-ZFZ6cVhg,Sister Honey's,247 E Michigan St,Orlando,FL,32806,28.513265,-81.374707,4.5,135,1,"{'BusinessParking': '{'garage': False, 'street...","Restaurants, American (New), Bakeries, Dessert...","{'Tuesday': '11:0-18:0', 'Wednesday': '11:0-18..."
2,hcRxdDg7DYryCxCoI8ySQA,Longwood Galleria,340-350 Longwood Ave,Boston,MA,02215,42.338544,-71.106842,2.5,24,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Restaurants, Shopping, Shopping Centers","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'..."
3,jGennaZUr2MsJyRhijNBfA,Legal Sea Foods,1 Harborside Dr,Boston,MA,02128,42.363442,-71.025781,3.5,856,1,"{'NoiseLevel': 'u'average'', 'BikeParking': 'F...","Sandwiches, Food, Restaurants, Breakfast & Bru...","{'Monday': '6:0-21:0', 'Tuesday': '6:0-21:0', ..."
4,iPD8BBvea6YldQZPHzVrSQ,Espresso Minute,334 Mass Ave,Boston,MA,02115,42.342673,-71.084239,4.5,7,0,"{'NoiseLevel': ''quiet'', 'GoodForKids': 'True...","Creperies, Restaurants, Food, Coffee & Tea, Br...","{'Tuesday': '8:0-20:0', 'Wednesday': '8:0-20:0..."

In [5]:
restaurant_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20693 entries, 0 to 20692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   20693 non-null  object
 1   name          20693 non-null  object
 2   address       20693 non-null  object
 3   city          20693 non-null  object
 4   state         20693 non-null  object
 5   postal_code   20693 non-null  object
 6   latitude      20693 non-null  float64
 7   longitude     20693 non-null  float64
 8   stars         20693 non-null  float64
 9   review_count  20693 non-null  int64
 10  is_open       20693 non-null  int64
 11  attributes    20591 non-null  object
 12  categories    20693 non-null  object
 13  hours         17500 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 2.4+ MB

# 1. Identify categories to exclude

In [24]:
categories_df = restaurant_df[['categories']]
categories_df

                                              categories
0      Salad, Soup, Sandwiches, Delis, Restaurants, C...
1      Restaurants, American (New), Bakeries, Dessert...
2                Restaurants, Shopping, Shopping Centers
3      Sandwiches, Food, Restaurants, Breakfast & Bru...
4      Creperies, Restaurants, Food, Coffee & Tea, Br...
...                                                  ...
20688                               Italian, Restaurants
20689                  Japanese, Sushi Bars, Restaurants
20690  Event Planning & Services, Steakhouses, Seafoo...
20691  Restaurants, Noodles, Salad, Vietnamese, Veget...
20692               Restaurants, Mexican, Latin American

[20693 rows x 1 columns]

In [7]:
categories_df.iloc[0,0]

'Salad, Soup, Sandwiches, Delis, Restaurants, Cafes, Vegetarian'

In [8]:
categories_df.iloc[1,0]

'Restaurants, American (New), Bakeries, Desserts, Food, Cupcakes'

In [16]:
categories_df.iloc[2,0]

'Restaurants, Shopping, Shopping Centers'

In [17]:
categories_df.iloc[3,0]

'Sandwiches, Food, Restaurants, Breakfast & Brunch, Seafood, Italian, Beer, Wine & Spirits, Cocktail Bars, Gluten-Free, Nightlife, Bars, Salad'

In [9]:
tmp_df = categories_df.iloc[0:11,:]
tmp_df

                                           categories
0   Salad, Soup, Sandwiches, Delis, Restaurants, C...
1   Restaurants, American (New), Bakeries, Dessert...
2             Restaurants, Shopping, Shopping Centers
3   Sandwiches, Food, Restaurants, Breakfast & Bru...
4   Creperies, Restaurants, Food, Coffee & Tea, Br...
5         Nightlife, Sandwiches, Seafood, Restaurants
6   Food Trucks, Restaurants, Specialty Food, Food...
7   Bars, Nightlife, Cocktail Bars, Seafood, Resta...
8   Vegetarian, Vegan, Sandwiches, Soup, American ...
9                                Italian, Restaurants
10                    Fast Food, Restaurants, Burgers

In [10]:
tmp_df['categories']

0     Salad, Soup, Sandwiches, Delis, Restaurants, C...
1     Restaurants, American (New), Bakeries, Dessert...
2               Restaurants, Shopping, Shopping Centers
3     Sandwiches, Food, Restaurants, Breakfast & Bru...
4     Creperies, Restaurants, Food, Coffee & Tea, Br...
5           Nightlife, Sandwiches, Seafood, Restaurants
6     Food Trucks, Restaurants, Specialty Food, Food...
7     Bars, Nightlife, Cocktail Bars, Seafood, Resta...
8     Vegetarian, Vegan, Sandwiches, Soup, American ...
9                                  Italian, Restaurants
10                      Fast Food, Restaurants, Burgers
Name: categories, dtype: object

## Create a full list of categories

### A mini pilot: make it a list

In [25]:
for i,item in enumerate(tmp_df['categories']):
    print(i, item)

0 Salad, Soup, Sandwiches, Delis, Restaurants, Cafes, Vegetarian
1 Restaurants, American (New), Bakeries, Desserts, Food, Cupcakes
2 Restaurants, Shopping, Shopping Centers
3 Sandwiches, Food, Restaurants, Breakfast & Brunch, Seafood, Italian, Beer, Wine & Spirits, Cocktail Bars, Gluten-Free, Nightlife, Bars, Salad
4 Creperies, Restaurants, Food, Coffee & Tea, Breakfast & Brunch
5 Nightlife, Sandwiches, Seafood, Restaurants
6 Food Trucks, Restaurants, Specialty Food, Food, Mexican, Ethnic Food
7 Bars, Nightlife, Cocktail Bars, Seafood, Restaurants, Sushi Bars
8 Vegetarian, Vegan, Sandwiches, Soup, American (New), Fast Food, Restaurants, Wraps, American (Traditional)
9 Italian, Restaurants
10 Fast Food, Restaurants, Burgers

In [27]:
for i,item in enumerate(tmp_df['categories']):
    my_list = item.split(',')
    print(my_list)

['Salad', ' Soup', ' Sandwiches', ' Delis', ' Restaurants', ' Cafes', ' Vegetarian']
['Restaurants', ' American (New)', ' Bakeries', ' Desserts', ' Food', ' Cupcakes']
['Restaurants', ' Shopping', ' Shopping Centers']
['Sandwiches', ' Food', ' Restaurants', ' Breakfast & Brunch', ' Seafood', ' Italian', ' Beer', ' Wine & Spirits', ' Cocktail Bars', ' Gluten-Free', ' Nightlife', ' Bars', ' Salad']
['Creperies', ' Restaurants', ' Food', ' Coffee & Tea', ' Breakfast & Brunch']
['Nightlife', ' Sandwiches', ' Seafood', ' Restaurants']
['Food Trucks', ' Restaurants', ' Specialty Food', ' Food', ' Mexican', ' Ethnic Food']
['Bars', ' Nightlife', ' Cocktail Bars', ' Seafood', ' Restaurants', ' Sushi Bars']
['Vegetarian', ' Vegan', ' Sandwiches', ' Soup', ' American (New)', ' Fast Food', ' Restaurants', ' Wraps', ' American (Traditional)']
['Italian', ' Restaurants']
['Fast Food', ' Restaurants', ' Burgers']

In [28]:
tmp_df['categories'][0]

'Salad, Soup, Sandwiches, Delis, Restaurants, Cafes, Vegetarian'

In [31]:
not('Soup' in (tmp_df['categories'][0]))

False

In [11]:
tmp_categories_all = []

for item in tmp_df['categories']:
    my_list = item.split(',')
    for element in my_list:
        cleaned_element = element.strip()
        if not(cleaned_element in tmp_categories_all):
            tmp_categories_all.append(cleaned_element)
            
tmp_categories_all.remove('Restaurants')

print(tmp_categories_all)

['Salad', 'Soup', 'Sandwiches', 'Delis', 'Cafes', 'Vegetarian', 'American (New)', 'Bakeries', 'Desserts', 'Food', 'Cupcakes', 'Shopping', 'Shopping Centers', 'Breakfast & Brunch', 'Seafood', 'Italian', 'Beer', 'Wine & Spirits', 'Cocktail Bars', 'Gluten-Free', 'Nightlife', 'Bars', 'Creperies', 'Coffee & Tea', 'Food Trucks', 'Specialty Food', 'Mexican', 'Ethnic Food', 'Sushi Bars', 'Vegan', 'Fast Food', 'Wraps', 'American (Traditional)', 'Burgers']

## mini pilot: make it a dictionary

In [19]:
tmp_dict = {}

for item in tmp_df['categories']:
    my_list = item.split(',')
    for element in my_list:
        cleaned_element = element.strip()
        if not(cleaned_element in tmp_dict):
            tmp_dict[cleaned_element] = 1
        else:
            tmp_dict[cleaned_element] += 1
            

print(tmp_dict)

{'Salad': 2, 'Soup': 2, 'Sandwiches': 4, 'Delis': 1, 'Restaurants': 11, 'Cafes': 1, 'Vegetarian': 2, 'American (New)': 2, 'Bakeries': 1, 'Desserts': 1, 'Food': 4, 'Cupcakes': 1, 'Shopping': 1, 'Shopping Centers': 1, 'Breakfast & Brunch': 2, 'Seafood': 3, 'Italian': 2, 'Beer': 1, 'Wine & Spirits': 1, 'Cocktail Bars': 2, 'Gluten-Free': 1, 'Nightlife': 3, 'Bars': 2, 'Creperies': 1, 'Coffee & Tea': 1, 'Food Trucks': 1, 'Specialty Food': 1, 'Mexican': 1, 'Ethnic Food': 1, 'Sushi Bars': 1, 'Vegan': 1, 'Fast Food': 2, 'Wraps': 1, 'American (Traditional)': 1, 'Burgers': 1}

### Apply to the entire restaurants

In [15]:
categories_dict = {}

for item in restaurant_df['categories']:
    my_list = item.split(',')
    for element in my_list:
        cleaned_element = element.strip()
        if not(cleaned_element in categories_dict):
            categories_dict[cleaned_element] = 1
        else:
            categories_dict[cleaned_element] += 1
            
            
#print(categories_dict)

In [23]:
# create a data frame
categories_agg = pd.DataFrame(list(categories_dict.items()))
categories_agg.columns = ['category', 'number_of_restaurants']
categories_agg.head()

      category  number_of_restaurants
0        Salad                   1080
1         Soup                    376
2   Sandwiches                   3099
3        Delis                    771
4  Restaurants                  20693

In [25]:
categories_agg['number_of_restaurants'].describe()

count      558.000000
mean       182.577061
std       1015.494437
min          1.000000
25%          1.000000
50%          6.000000
75%         42.750000
max      20693.000000
Name: number_of_restaurants, dtype: float64

In [27]:
categories_agg[categories_agg['number_of_restaurants'] <= 6]

                   category  number_of_restaurants
89               Mass Media                      2
90              Print Media                      1
95                 Austrian                      4
102           Nutritionists                      6
104  Vitamins & Supplements                      1
..                      ...                    ...
553         Drive-Thru Bars                      1
554           Veterinarians                      1
555                   Tires                      1
556        Trampoline Parks                      1
557             Art Schools                      1

[287 rows x 2 columns]

In [30]:
categories_agg_sorted = categories_agg.sort_values(by = 'number_of_restaurants', ascending = False)
categories_agg_sorted

                   category  number_of_restaurants
4               Restaurants                  20693
10                     Food                   7378
21                Nightlife                   4232
22                     Bars                   4030
2                Sandwiches                   3099
..                      ...                    ...
452            Axe Throwing                      1
454         Dumpster Rental                      1
455  Junk Removal & Hauling                      1
456           Boat Charters                      1
557             Art Schools                      1

[558 rows x 2 columns]

In [32]:
categories_agg_sorted.to_csv('categories_agg.csv', index = False)

## Check potential exclusions

In [47]:
columns = ['name', 'attributes', 'categories']
categ = 'Themed Cafes'
restaurant_df[restaurant_df.categories.str.contains(categ)][columns]

,name,attributes,categories
459,Java Cats Cafe,"{'Ambience': '{'touristy': False, 'hipster': T...","Food, Cafes, Pet Adoption, Pets, Themed Cafes,..."
1039,PURR Cat Cafe,"{'GoodForKids': 'True', 'Ambience': '{'tourist...","Pet Adoption, Active Life, Themed Cafes, Resta..."
2524,Marguerite’s Jerk Bistro,"{'RestaurantsTableService': 'True', 'Caters': ...","Caribbean, Restaurants, Cafes, Themed Cafes"
2718,Get Fruity Cafe,"{'BikeParking': 'True', 'RestaurantsAttire': '...","Cafes, Wraps, Food, Restaurants, Themed Cafes,..."
2827,Havana Cigars,"{'Music': '{'dj': False, 'background_music': F...","Cigar Bars, Bars, Lounges, Nightlife, Food, Co..."
3510,Coffee Loft,"{'OutdoorSeating': 'True', 'BusinessParking': ...","Cafes, Caterers, Themed Cafes, Fashion, Restau..."
5517,Hookah Buzz,"{'Smoking': 'u'outdoor'', 'GoodForDancing': 'F...","Lounges, Food, Bars, Coffee & Tea, Cafes, Rest..."
10547,Velo Cult Bicycle Shop,"{'OutdoorSeating': 'False', 'BusinessAcceptsCr...","Venues & Event Spaces, Restaurants, Shopping, ..."
13248,Costello's Travel Cafe,"{'HasTV': 'True', 'BusinessParking': '{'garage...","American (Traditional), Food, Themed Cafes, Ba..."
14377,Purrington's Cat Lounge,"{'OutdoorSeating': 'False', 'BusinessParking':...","Cafes, Food, Pet Adoption, Themed Cafes, Anima..."
18543,Baker Dude Bakery Cafe,"{'GoodForKids': 'True', 'BusinessParking': '{'...","Cupcakes, Bakeries, Sandwiches, Desserts, Vega..."
19485,Tavern of Tales,"{'BusinessAcceptsBitcoin': 'False', 'Wheelchai...","Tabletop Games, Restaurants, Shopping, Themed ..."

# 2. Identify *attributes* to exclude

In [4]:
attributes_df = restaurant_df[['attributes']]
attributes_df

                                              attributes
0      {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...
1      {'BusinessParking': '{'garage': False, 'street...
2      {'RestaurantsPriceRange2': '1', 'BusinessAccep...
3      {'NoiseLevel': 'u'average'', 'BikeParking': 'F...
4      {'NoiseLevel': ''quiet'', 'GoodForKids': 'True...
...                                                  ...
20688  {'RestaurantsGoodForGroups': 'False', 'GoodFor...
20689  {'RestaurantsPriceRange2': '4', 'RestaurantsGo...
20690  {'BusinessAcceptsCreditCards': 'True', 'Outdoo...
20691  {'Alcohol': 'u'beer_and_wine'', 'RestaurantsAt...
20692  {'WiFi': 'u'no'', 'BusinessAcceptsCreditCards'...

[20693 rows x 1 columns]

In [5]:
attributes_df.iloc[0,0]

{'RestaurantsTakeOut': 'True',
 'RestaurantsAttire': "u'casual'",
 'GoodForKids': 'True',
 'BikeParking': 'False',
 'OutdoorSeating': 'False',
 'Ambience': "{'romantic': False, 'intimate': False, 'touristy': False, 'hipster': False, 'divey': False, 'classy': False, 'trendy': False, 'upscale': False, 'casual': True}",
 'Caters': 'True',
 'RestaurantsReservations': 'False',
 'RestaurantsDelivery': 'False',
 'HasTV': 'False',
 'RestaurantsGoodForGroups': 'False',
 'BusinessAcceptsCreditCards': 'True',
 'NoiseLevel': "u'average'",
 'ByAppointmentOnly': 'False',
 'RestaurantsPriceRange2': '2',
 'WiFi': "u'free'",
 'BusinessParking': "{'garage': True, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
 'Alcohol': "u'beer_and_wine'",
 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': True, 'dinner': False, 'brunch': False, 'breakfast': True}"}

In [6]:
attributes_df.iloc[2,0]

{'RestaurantsPriceRange2': '1',
 'BusinessAcceptsCreditCards': 'True',
 'HasTV': 'False',
 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}",
 'WiFi': "'free'",
 'GoodForKids': 'True',
 'RestaurantsAttire': "u'casual'",
 'Caters': 'True',
 'BikeParking': 'True',
 'OutdoorSeating': 'False',
 'Alcohol': "'full_bar'",
 'RestaurantsGoodForGroups': 'True',
 'RestaurantsReservations': 'False',
 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}",
 'RestaurantsDelivery': 'None',
 'BusinessParking': "{'garage': True, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
 'RestaurantsTakeOut': 'None',
 'NoiseLevel': "u'average'"}

In [9]:
attr_tmp_df = attributes_df.iloc[0:6,:]
attr_tmp_df

                                          attributes
0  {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...
1  {'BusinessParking': '{'garage': False, 'street...
2  {'RestaurantsPriceRange2': '1', 'BusinessAccep...
3  {'NoiseLevel': 'u'average'', 'BikeParking': 'F...
4  {'NoiseLevel': ''quiet'', 'GoodForKids': 'True...
5  {'RestaurantsGoodForGroups': 'True', 'Alcohol'...

## Create a full list of attributes

### mini pilot

In [11]:
for i,item in enumerate(attr_tmp_df['attributes']):
    print(i, type(item))

0 <class 'dict'>
1 <class 'dict'>
2 <class 'dict'>
3 <class 'dict'>
4 <class 'dict'>
5 <class 'dict'>

In [13]:
test_dict = attributes_df.iloc[2,0]
test_dict

{'RestaurantsPriceRange2': '1',
 'BusinessAcceptsCreditCards': 'True',
 'HasTV': 'False',
 'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'divey': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': True}",
 'WiFi': "'free'",
 'GoodForKids': 'True',
 'RestaurantsAttire': "u'casual'",
 'Caters': 'True',
 'BikeParking': 'True',
 'OutdoorSeating': 'False',
 'Alcohol': "'full_bar'",
 'RestaurantsGoodForGroups': 'True',
 'RestaurantsReservations': 'False',
 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}",
 'RestaurantsDelivery': 'None',
 'BusinessParking': "{'garage': True, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
 'RestaurantsTakeOut': 'None',
 'NoiseLevel': "u'average'"}

In [22]:
list(test_dict.keys())

['RestaurantsPriceRange2',
 'BusinessAcceptsCreditCards',
 'HasTV',
 'Ambience',
 'WiFi',
 'GoodForKids',
 'RestaurantsAttire',
 'Caters',
 'BikeParking',
 'OutdoorSeating',
 'Alcohol',
 'RestaurantsGoodForGroups',
 'RestaurantsReservations',
 'GoodForMeal',
 'RestaurantsDelivery',
 'BusinessParking',
 'RestaurantsTakeOut',
 'NoiseLevel']

In [26]:
attr_tmp_dict = {}

for dict_item in attr_tmp_df['attributes']:
    my_list = list(dict_item.keys())
    for element in my_list:
        cleaned_element = element.strip()
        if not(cleaned_element in attr_tmp_dict):
            attr_tmp_dict[cleaned_element] = 1
        else:
            attr_tmp_dict[cleaned_element] += 1
            

print(attr_tmp_dict)

{'RestaurantsTakeOut': 6, 'RestaurantsAttire': 5, 'GoodForKids': 5, 'BikeParking': 6, 'OutdoorSeating': 5, 'Ambience': 5, 'Caters': 5, 'RestaurantsReservations': 5, 'RestaurantsDelivery': 6, 'HasTV': 5, 'RestaurantsGoodForGroups': 5, 'BusinessAcceptsCreditCards': 6, 'NoiseLevel': 6, 'ByAppointmentOnly': 1, 'RestaurantsPriceRange2': 6, 'WiFi': 4, 'BusinessParking': 6, 'Alcohol': 5, 'GoodForMeal': 5, 'DogsAllowed': 2, 'Music': 1, 'BusinessAcceptsBitcoin': 1, 'GoodForDancing': 1, 'BestNights': 1, 'HappyHour': 1, 'RestaurantsTableService': 2, 'WheelchairAccessible': 2}

### Apply to *attributes* column of the entire restaurants

In [34]:
attributes_dict = {}
index_to_check = []

for i, dict_item in enumerate(restaurant_df['attributes']):
    try:
        my_list = list(dict_item.keys())
        for element in my_list:
            cleaned_element = element.strip()
            if not(cleaned_element in attributes_dict):
                attributes_dict[cleaned_element] = 1
            else:
                attributes_dict[cleaned_element] += 1
    except:
        index_to_check.append(i)

In [31]:
print(index_to_check)

[27, 134, 206, 296, 694, 1031, 1218, 1528, 1752, 2051, 2070, 2361, 2722, 2822, 2849, 3523, 3767, 3798, 3931, 3941, 3963, 4380, 5024, 5403, 5509, 5518, 5600, 5706, 5731, 5801, 5843, 6054, 6080, 6247, 7253, 7341, 7595, 7846, 8105, 8247, 8463, 8602, 8901, 9038, 9043, 9211, 9290, 10017, 10434, 10490, 10494, 10628, 10889, 11212, 11276, 11793, 12152, 12474, 12781, 12942, 12949, 13185, 13250, 13273, 13420, 13661, 13662, 13672, 13783, 14118, 14318, 14362, 14476, 14512, 14552, 14735, 14998, 15027, 15158, 15245, 15410, 15655, 15823, 15825, 15832, 15940, 15962, 16175, 16800, 17301, 17618, 18004, 18068, 18273, 18275, 18530, 18624, 19409, 19617, 20040, 20285, 20375]

In [32]:
len(index_to_check)

102

In [35]:
restaurant_df.loc[index_to_check]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
27,opdd6sSWjwiy-doXnlpMeA,Tin Lizzy's Cantina,229 Peachtree St,Atlanta,GA,30308,33.759923,-84.386444,3.5,10,1,None,"Restaurants, Nightlife, Mexican, Bars, Sports ...",None
134,0c8NZgbg1Q0vwXMPZTUlvA,Campo di Fiori,580 Commonwealth Ave,Boston,MA,02228,42.348810,-71.099424,3.5,6,0,None,"Restaurants, Italian",None
206,lKhF50ZDNZoz6jA5YynRtg,Al Forno's,27 12th St NW,Atlanta,GA,30309,33.784570,-84.388229,3.0,5,0,None,"Pizza, Restaurants","{'Monday': '16:0-22:0', 'Tuesday': '16:0-22:0'..."
296,8ehEKnoY-ZFjRfM1q0Ybhg,Moda Cars,12832 NE Airport Way,Portland,OR,97230,45.562559,-122.528696,1.0,6,0,None,"Car Dealers, Automotive, Restaurants, Pizza","{'Monday': '10:0-18:0', 'Tuesday': '10:0-18:0'..."
694,af3n7eYe1D8M45VA_1kIXA,Jin-Dak,1112 SE Tacoma St,Portland,OR,97202,45.464096,-122.654565,5.0,12,1,None,"Restaurants, Food Trucks, Food, Korean",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19409,scDAcEG8GUbfbfSI-ZS5Iw,Mario's Deli,3202 W Anderson Ln,Austin,TX,78757,30.362109,-97.741429,3.0,7,0,None,"Restaurants, Delis","{'Monday': '10:0-20:0', 'Tuesday': '10:0-20:0'..."
19617,kDqsJKCWnLSKbSzfMDJqVg,Have A Taco,4602 Welekta Dr,Austin,TX,78734,30.406835,-97.925985,1.5,19,0,None,"Food Trucks, Food, American (Traditional), Res...","{'Wednesday': '12:0-21:0', 'Thursday': '12:0-2..."
20040,IDv-q4te2TsaPUbeWIgShQ,Veronica's Papusas Y Tacos,4276-4298 Lockhart Hwy,Austin,TX,78744,30.189091,-97.686166,3.5,6,0,None,"Food Trucks, Mexican, Salvadoran, Restaurants,...","{'Monday': '10:30-19:0', 'Tuesday': '10:30-19:..."
20285,m9tVJ_9hWQI3WFTefEkF9Q,Bonehead's,2349 Peachtree Rd NE,Atlanta,GA,30305,33.820130,-84.388335,3.0,5,0,None,"American (New), Restaurants",None
20375,6pizHa-VYRrgtA5MBSrGzQ,Marr Marr's BBQ & Deli,"757 Cleveland Ave SW, Ste C",Atlanta,GA,30315,33.681876,-84.414107,4.5,6,0,None,"Restaurants, Barbeque","{'Tuesday': '12:0-20:0', 'Wednesday': '12:0-20..."

In [36]:
# create a attributes-aggregate data frame
attributes_agg = pd.DataFrame(list(attributes_dict.items()))
attributes_agg.columns = ['attribute', 'number_of_restaurants']
attributes_agg.head()

            attribute  number_of_restaurants
0  RestaurantsTakeOut                  19530
1   RestaurantsAttire                  17047
2         GoodForKids                  17624
3         BikeParking                  14493
4      OutdoorSeating                  18511

In [37]:
# sort and export
attributes_agg_sorted = attributes_agg.sort_values(by = 'number_of_restaurants', ascending = False)
attributes_agg_sorted.to_csv('attributes_agg.csv', index = False)

## Check for possible exclusion (by attributes)

In [6]:
# create a restaurants dataset without missing values in attributes column
restaurants_nomissing_attr_df = restaurant_df[~restaurant_df['attributes'].isna()]

In [7]:
# confirm that there are no missing values in attributes column
restaurants_nomissing_attr_df.isna().sum()

business_id        0
name               0
address            0
city               0
state              0
postal_code        0
latitude           0
longitude          0
stars              0
review_count       0
is_open            0
attributes         0
categories         0
hours           3140
dtype: int64

In [177]:
restaurants_nomissing_attr_df.attributes

0        {'RestaurantsTakeOut': 'True', 'RestaurantsAtt...
1        {'BusinessParking': '{'garage': False, 'street...
2        {'RestaurantsPriceRange2': '1', 'BusinessAccep...
3        {'NoiseLevel': 'u'average'', 'BikeParking': 'F...
4        {'NoiseLevel': ''quiet'', 'GoodForKids': 'True...
                               ...
20688    {'RestaurantsGoodForGroups': 'False', 'GoodFor...
20689    {'RestaurantsPriceRange2': '4', 'RestaurantsGo...
20690    {'BusinessAcceptsCreditCards': 'True', 'Outdoo...
20691    {'Alcohol': 'u'beer_and_wine'', 'RestaurantsAt...
20692    {'WiFi': 'u'no'', 'BusinessAcceptsCreditCards'...
Name: attributes, Length: 20591, dtype: object

#### check 'BusinessAcceptsBitcoin'

In [8]:
attr = 'BusinessAcceptsBitcoin'

In [9]:
restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr))

0         None
1         None
2         None
3        False
4         None
         ...
20688     None
20689     None
20690     None
20691     None
20692     None
Name: attributes, Length: 20591, dtype: object

In [10]:
restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)).value_counts(dropna = False)

NaN      17349
False     3187
True        55
Name: attributes, dtype: int64

In [208]:
# see some businesses that have 'BusinessAcceptsBitcoin' value of 'False'
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)) == 'False'].tail()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
20660,s5eDVoLc5Es1b6lI1W-DVw,Gemma Love,415 Jessie St,Austin,TX,78704,30.250362,-97.749960,4.0,82,0,"{'RestaurantsAttire': 'u'casual'', 'NoiseLevel...","Caribbean, Restaurants, Food Trucks, Gluten-Fr...","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'..."
20662,znkU8_QJ4Dksd8XUVjXBcg,Fuku Boston Seaport,43 Northern Ave,Boston,MA,02210,42.353272,-71.046872,3.5,182,0,"{'RestaurantsReservations': 'False', 'HappyHou...","Restaurants, Chicken Shop","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
20663,um4x6dIkv8w2a4e0VkRNmA,Rocco's Cucina & Bar,450 Commercial St,Boston,MA,02109,42.367380,-71.053411,3.5,164,1,"{'RestaurantsTakeOut': 'True', 'WiFi': 'u'free...","Beer, Wine & Spirits, Italian, American (Tradi...","{'Monday': '14:30-1:30', 'Tuesday': '16:0-22:0..."
20673,WoI1IisL_AgmWdiJLRb-Zw,Democracy Brewing,35 Temple Pl,Boston,MA,02111,42.355088,-71.062150,4.0,216,1,"{'RestaurantsPriceRange2': '2', 'RestaurantsAt...","Restaurants, Food, Bars, Venues & Event Spaces...","{'Monday': '0:0-0:0', 'Tuesday': '12:0-20:0', ..."
20687,E42dulQ-OfZ3caiKKh7J5w,LongHorn Steakhouse,3101 E Colonial Dr,Orlando,FL,32803,28.553748,-81.344369,4.0,73,1,"{'BusinessAcceptsBitcoin': 'False', 'OutdoorSe...","Barbeque, Restaurants, American (Traditional),...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-22:0', ..."

In [203]:
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)) == 'False']['attributes'].iloc[8]

{'HasTV': 'True',
 'BusinessParking': "{'garage': False, 'street': True, 'validated': False, 'lot': False, 'valet': False}",
 'RestaurantsTakeOut': 'True',
 'NoiseLevel': "u'average'",
 'RestaurantsAttire': "u'casual'",
 'BusinessAcceptsCreditCards': 'True',
 'RestaurantsPriceRange2': '2',
 'BikeParking': 'True',
 'RestaurantsGoodForGroups': 'True',
 'RestaurantsTableService': 'True',
 'BusinessAcceptsBitcoin': 'False',
 'WiFi': "u'free'",
 'RestaurantsReservations': 'True',
 'OutdoorSeating': 'True',
 'Smoking': "u'no'",
 'WheelchairAccessible': 'True',
 'CoatCheck': 'False',
 'GoodForKids': 'True',
 'ByAppointmentOnly': 'False',
 'BestNights': "{'monday': False, 'tuesday': True, 'friday': True, 'wednesday': False, 'thursday': False, 'sunday': False, 'saturday': True}",
 'Music': "{'dj': False, 'background_music': False, 'no_music': False, 'jukebox': False, 'live': False, 'video': False, 'karaoke': False}",
 'BYOB': 'False',
 'Caters': 'True',
 'HappyHour': 'True',
 'Alcohol': "u'full_bar'",
 'DogsAllowed': 'True',
 'GoodForMeal': "{'dessert': False, 'latenight': None, 'lunch': None, 'dinner': True, 'brunch': None, 'breakfast': False}",
 'Corkage': 'False',
 'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': True, 'casual': True}",
 'RestaurantsDelivery': 'True'}

In [11]:
# businesses that have 'BusinessAcceptsBitcoin' value missing
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)).isnull()]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,tCbdrRPZA0oiIYSmHG3J0w,Flying Elephants at PDX,7000 NE Airport Way,Portland,OR,97218,45.588906,-122.593331,4.0,126,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsAtt...","Salad, Soup, Sandwiches, Delis, Restaurants, C...","{'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ..."
1,ufCxltuh56FF4-ZFZ6cVhg,Sister Honey's,247 E Michigan St,Orlando,FL,32806,28.513265,-81.374707,4.5,135,1,"{'BusinessParking': '{'garage': False, 'street...","Restaurants, American (New), Bakeries, Dessert...","{'Tuesday': '11:0-18:0', 'Wednesday': '11:0-18..."
2,hcRxdDg7DYryCxCoI8ySQA,Longwood Galleria,340-350 Longwood Ave,Boston,MA,02215,42.338544,-71.106842,2.5,24,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Restaurants, Shopping, Shopping Centers","{'Monday': '6:30-22:0', 'Tuesday': '6:30-22:0'..."
4,iPD8BBvea6YldQZPHzVrSQ,Espresso Minute,334 Mass Ave,Boston,MA,02115,42.342673,-71.084239,4.5,7,0,"{'NoiseLevel': ''quiet'', 'GoodForKids': 'True...","Creperies, Restaurants, Food, Coffee & Tea, Br...","{'Tuesday': '8:0-20:0', 'Wednesday': '8:0-20:0..."
5,jx91IMdGOmLOo8h_F9z39g,Cleary's Restaurant & Spirits,12429 NE Glisan St,Portland,OR,97230,45.526473,-122.535323,3.5,19,1,"{'RestaurantsGoodForGroups': 'True', 'Alcohol'...","Nightlife, Sandwiches, Seafood, Restaurants","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20688,m5eUPVD0Hu39Ff-Uqe-FLA,The Italian Joint,3145 SE Hawthorne Blvd,Portland,OR,97203,45.512196,-122.632865,3.5,20,0,"{'RestaurantsGoodForGroups': 'False', 'GoodFor...","Italian, Restaurants",None
20689,87f7kR7nTz8WHnmtLM_S6w,O Ya,9 East St Pl,Boston,MA,02111,42.351408,-71.056867,4.5,737,1,"{'RestaurantsPriceRange2': '4', 'RestaurantsGo...","Japanese, Sushi Bars, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '17:0-21:30',..."
20690,jYgqSazE0gUyI7qq086Dzw,Chart House,5700 SW Terwilliger,Portland,OR,97239,45.483154,-122.682748,3.5,457,1,"{'BusinessAcceptsCreditCards': 'True', 'Outdoo...","Event Planning & Services, Steakhouses, Seafoo...","{'Tuesday': '16:0-21:0', 'Wednesday': '16:0-21..."
20691,r5Uag1JqYjr2nbxQCVqm8A,Saigon Noodle & Grill,101 N Bumby Ave,Orlando,FL,32803,28.544430,-81.351606,4.5,437,1,"{'Alcohol': 'u'beer_and_wine'', 'RestaurantsAt...","Restaurants, Noodles, Salad, Vietnamese, Veget...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-21:30'..."
20692,uXdQkuEtvLAzfc3MsO-sTQ,Mama's Cocina Latina,1958 Piedmont Rd NE,Atlanta,GA,30324,33.810996,-84.367084,3.0,185,1,"{'WiFi': 'u'no'', 'BusinessAcceptsCreditCards'...","Restaurants, Mexican, Latin American","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

#### check 'AcceptInsurance'

In [209]:
attr = 'AcceptsInsurance'

In [211]:
restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)).value_counts(dropna = False)

NaN     20587
True        4
Name: attributes, dtype: int64

In [212]:
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)) == 'True']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
989,bTSV6N7nKu0Ai-L_ud_hEg,Peoples Rx,4018 N Lamar Blvd,Austin,TX,78756,30.309143,-97.741172,4.0,102,1,"{'RestaurantsPriceRange2': '2', 'HasTV': 'Fals...","Restaurants, Delis, Gluten-Free, Drugstores, F...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-20:0', '..."
9668,7Kumug8bCzwDu4STXQhUjg,Peoples Rx,3801 S Lamar Blvd,Austin,TX,78704,30.237994,-97.789093,4.0,104,1,"{'RestaurantsReservations': 'False', 'Business...","Specialty Food, Nutritionists, Drugstores, Foo...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-20:0', '..."
11825,on1lHO28hVhcLpj1E4dQ-A,Peoples Rx,4201 Westbank Dr,Austin,TX,78746,30.275571,-97.816528,4.5,50,1,"{'GoodForKids': 'False', 'BikeParking': 'False...","Drugstores, Restaurants, Medical Centers, Shop...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-19:0', '..."
17254,t4idMNEUIzLgs2hDNwoNNg,"Geoffrey Cox, MD","7900 Fm 1826, Bldg 2, Ste 202",Austin,TX,78737,30.226264,-97.891933,4.0,23,1,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Restaurants, Doctors, Health & Medical, Family...","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."

#### check 'AgesAllowed'

In [215]:
attr = 'AgesAllowed'

In [216]:
restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)).value_counts(dropna = False)

NaN           20575
u'21plus'        11
u'allages'        4
u'18plus'         1
Name: attributes, dtype: int64

In [217]:
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)) == "u'21plus'"]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
790,4t-RvT_2SJbxCOR1SYkYFg,SHOTS - Orlando,"69 E Pine St, Fl 1",Orlando,FL,32801,28.541491,-81.377613,4.0,68,1,"{'RestaurantsGoodForGroups': 'True', 'Wheelcha...","American (New), Dance Clubs, Food, Restaurants...","{'Monday': '0:0-0:0', 'Tuesday': '20:0-2:0', '..."
2062,DIRXMPneSiHoOani8QnI3A,Hong Kong At Faneuil Hall,65 Chatham St,Boston,MA,02109,42.359669,-71.053908,3.0,429,1,"{'RestaurantsGoodForGroups': 'True', 'GoodForK...","Restaurants, Karaoke, Pubs, Chinese, Dance Clu...","{'Monday': '16:0-2:0', 'Tuesday': '16:0-2:0', ..."
10548,geqIxijPUD8nVDI2VKnPuw,Day Dreams,257 Trinity Ave SW,Atlanta,GA,30303,33.750785,-84.396315,2.5,20,0,"{'RestaurantsReservations': 'True', 'WiFi': 'u...","Breakfast & Brunch, Dance Clubs, Bars, Nightli...","{'Tuesday': '20:0-1:0', 'Thursday': '23:0-3:0'..."
11596,9yoVzC9qgUU6bM3tVdEggA,Moondogs,3179 Peachtree Rd NE,Atlanta,GA,30305,33.840803,-84.375263,3.5,129,1,"{'GoodForKids': 'False', 'BikeParking': 'True'...","American (New), Dance Clubs, Restaurants, Kara...","{'Wednesday': '20:0-3:0', 'Thursday': '20:0-3:..."
12745,FDCVhmfBuIVomUSeqIZMqQ,MOTHER,447 Edgewood Ave SE,Atlanta,GA,30312,33.754156,-84.372881,3.5,125,0,"{'WiFi': 'u'free'', 'Caters': 'True', 'Busines...","Nightlife, Bars, Dance Clubs, American (Tradit...","{'Monday': '17:0-2:30', 'Tuesday': '17:0-2:30'..."
12753,5zaDIn0r3GvF8Ecsvgen_Q,Jones,107 NW Couch St,Portland,OR,97209,45.524083,-122.671670,3.0,199,1,"{'RestaurantsTakeOut': 'False', 'RestaurantsRe...","Dance Clubs, Diners, Nightlife, Pubs, Bars, Re...","{'Friday': '20:0-2:30', 'Saturday': '20:0-2:30'}"
13582,AYQ8IWdau__yAmL7Jrl1YA,Latitudes Rooftop Tiki Bar,33 W Church St,Orlando,FL,32801,28.540621,-81.379767,3.5,114,1,"{'Alcohol': 'u'full_bar'', 'RestaurantsTakeOut...","Dance Clubs, Nightlife, Tiki Bars, Restaurants...","{'Monday': '16:30-2:0', 'Tuesday': '16:30-2:0'..."
14429,lQLsl-Y2pTEOXZClTqKAig,The Highball,1120 S Lamar Blvd,Austin,TX,78704,30.256129,-97.763212,3.0,153,1,"{'BestNights': '{'monday': True, 'tuesday': Fa...","Tapas/Small Plates, Bars, Karaoke, Dance Clubs...","{'Monday': '16:0-0:0', 'Tuesday': '16:0-0:0', ..."
15485,iEqC57gAJ3abHs8ERz_9Qg,Chillers Frozen Drink Bar,33 W Church St,Orlando,FL,32801,28.540621,-81.379794,3.0,64,1,"{'RestaurantsAttire': ''casual'', 'Alcohol': '...","Bars, Restaurants, Nightlife, Local Flavor, Da...","{'Monday': '16:30-2:30', 'Tuesday': '16:30-2:3..."
16205,u0MJq6N7PsRGE_T8HjZfrQ,Club Ellery's,2008 Campbellton Rd,Atlanta,GA,30311,33.706613,-84.455378,4.0,33,1,"{'RestaurantsPriceRange2': '2', 'Alcohol': 'u'...","Pubs, American (New), Nightlife, Restaurants, ...","{'Wednesday': '18:0-3:0', 'Thursday': '18:0-3:..."
18780,NHy6-lY_P6Q6_c8Fs5cTVQ,Johnny's Hideaway,3771 Roswell Rd NE,Atlanta,GA,30342,33.857763,-84.380880,3.0,279,1,"{'RestaurantsAttire': 'u'casual'', 'Restaurant...","Nightlife, Bars, Lounges, American (Traditiona...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-3:0', '..."

In [218]:
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)) == "u'allages'"]

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
988,G4enu8vxbQk4h_2Cd3TEgA,West End Johnnies,138 Portland St,Boston,MA,02114,42.363774,-71.061382,3.0,311,1,"{'WiFi': 'u'no'', 'HasTV': 'True', 'BikeParkin...","Nightlife, Dance Clubs, Restaurants, American ...","{'Thursday': '16:0-2:0', 'Friday': '16:0-2:0',..."
2687,I3wU08pdP80roBXD9rf3XQ,GEM,42 Province St,Boston,MA,02108,42.356939,-71.059906,3.0,98,0,"{'GoodForKids': 'False', 'NoiseLevel': 'u'aver...","Bars, Restaurants, Lounges, Italian, Dance Clu...","{'Wednesday': '22:0-2:0', 'Friday': '21:0-2:0'..."
18689,Yt9F5q71-aGROQCWEMHAjg,Mango's Tropical Cafe,8126 International Dr,Orlando,FL,32819,28.448139,-81.471754,3.5,500,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Restaurants, Dance Clubs, Bars, Cabaret, Cockt...","{'Monday': '18:0-2:0', 'Tuesday': '18:0-2:0', ..."
18720,HTxDHuQMcmcxyqBlxxiTIQ,Cuba Libre Restaurant & Rum Bar - Orlando,9101 International Dr,Orlando,FL,32819,28.431270,-81.469966,4.0,783,1,"{'RestaurantsGoodForGroups': 'True', 'Caters':...","Dance Clubs, Cuban, Restaurants, Latin America...","{'Monday': '0:0-0:0', 'Tuesday': '17:0-20:0', ..."

#### check 'ByAppointmentOnly'

In [12]:
attr = 'ByAppointmentOnly'

In [13]:
restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)).value_counts(dropna = False)

NaN      18731
False     1781
True        79
Name: attributes, dtype: int64

In [17]:
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)) == 'True'].tail(n=25)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
14596,vGP_SrEsezeF7MyW7OY3aA,Agave Restaurant,242 Blvd SE,Atlanta,GA,30312,33.748041,-84.368078,4.0,888,1,"{'BikeParking': 'True', 'RestaurantsPriceRange...","Specialty Food, Nightlife, Restaurants, Mexica...","{'Monday': '16:0-22:0', 'Tuesday': '16:0-22:0'..."
14733,Zqe9BhsKtDdkncgyx2kbXQ,Buckhead Diner,3073 Piedmont Rd NE,Atlanta,GA,30305,33.839406,-84.368704,3.5,661,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Diners, Ethnic Food, Southern, Specialty Food,...",{'Monday': '0:0-0:0'}
14790,WPNgShkCUojwbuEcn-kzgA,Citrus Club,"255 S Orange Ave, Ste 1800",Orlando,FL,32801,28.539257,-81.377994,4.5,70,1,"{'RestaurantsGoodForGroups': 'True', 'Business...","American (New), Restaurants, Event Planning & ...","{'Monday': '0:0-0:0', 'Tuesday': '7:0-22:0', '..."
15024,sQAtQV1tHZaOJWcR_T8bwg,Tiny Lou's,789 Ponce De Leon Ave,Atlanta,GA,30306,33.773401,-84.361229,4.0,167,1,"{'RestaurantsReservations': 'True', 'Alcohol':...","Restaurants, Brasseries, French","{'Wednesday': '17:30-22:0', 'Thursday': '17:30..."
15065,DOfD6GuQ37dcTaRlk-0m9g,Noble Rot,"1111 E Burnside St, Fl 4",Portland,OR,97214,45.522918,-122.654482,4.0,619,1,"{'NoiseLevel': 'u'average'', 'Ambience': '{'ro...","Event Planning & Services, Nightlife, Wine Bar...","{'Monday': '0:0-0:0', 'Wednesday': '16:0-19:0'..."
15647,c02zdoOixfLRS0vxRZUAKg,The Club At Chops,70 W Paces Ferry Rd NW,Atlanta,GA,30305,33.839844,-84.381825,4.0,13,1,"{'Alcohol': 'u'full_bar'', 'OutdoorSeating': '...","Steakhouses, Seafood, Restaurants, Cigar Bars,...","{'Monday': '0:0-0:0', 'Tuesday': '17:30-21:0',..."
15731,Plgp3puwXSQfbpUdIA1RBw,Taj Palace,6700 Middle Fiskville Rd,Austin,TX,78752,30.328909,-97.707433,4.0,334,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Nightlife, Indian, Vegetarian, Buffets, Pakist...","{'Monday': '17:30-22:0', 'Tuesday': '17:30-22:..."
16101,BWcserrn-VAvcWufKnsP_Q,Twisted Soul Cookhouse & Pours,"1133 Huff Rd NW, Ste D",Atlanta,GA,30318,33.789818,-84.424898,4.0,589,1,"{'RestaurantsReservations': 'True', 'Caters': ...","Southern, Desserts, Soul Food, Restaurants, Food","{'Tuesday': '17:0-22:0', 'Wednesday': '17:0-22..."
16482,R4Vlwzmad4Pisd_BglXJ0g,Bristol Restaurant & Bar,200 Boylston St,Boston,MA,02116,42.352255,-71.068220,3.5,284,1,"{'RestaurantsTakeOut': 'False', 'Corkage': 'Fa...","American (New), Bars, Desserts, Nightlife, Tea...","{'Monday': '6:30-22:30', 'Tuesday': '6:30-22:3..."
16885,jS3AtiXNM97hzZmsVyZpxA,Cappadocia Turkish Cuisine,565 N Semoran Blvd,Orlando,FL,32807,28.551348,-81.310391,4.5,186,1,"{'Caters': 'True', 'BusinessParking': '{'garag...","Mediterranean, Restaurants, Turkish","{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'..."
16965,jPXC6g80YPqtku2ykboIUg,Fogo de Chao - Atlanta,3101 Piedmont Rd NE,Atlanta,GA,30305,33.840630,-84.369372,4.5,1111,1,"{'RestaurantsReservations': 'True', 'BusinessP...","Brazilian, Seafood, Restaurants, Barbeque, Ste...","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
17254,t4idMNEUIzLgs2hDNwoNNg,"Geoffrey Cox, MD","7900 Fm 1826, Bldg 2, Ste 202",Austin,TX,78737,30.226264,-97.891933,4.0,23,1,"{'ByAppointmentOnly': 'True', 'BusinessAccepts...","Restaurants, Doctors, Health & Medical, Family...","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
17404,nt6qFj7UctmM6OEnWb3qXQ,Serena & Lily Atlanta Design Shop,1198 Howell Mill Rd,Atlanta,GA,30318,33.786832,-84.412134,3.0,5,1,"{'ByAppointmentOnly': 'True', 'DogsAllowed': '...","Outdoor Furniture Stores, Home & Garden, Mexic...",None
18526,D0C1jg_oQzY-Uvu3X0og4Q,Dealer Service Alternative,5305 E Colonial Dr,Orlando,FL,32807,28.554738,-81.317915,5.0,40,1,"{'WiFi': ''free'', 'BusinessAcceptsCreditCards...","Oil Change Stations, Automotive, Transmission ...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:0', '..."
18910,2XMXls-wmQYNBEAdWrB7KA,HomeCity Real Estate - Austin,"7000 Bee Cave Rd, Ste 350",Austin,TX,78746,30.301879,-97.839595,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Real Estate, Restaurants, Real Estate Agents, ...","{'Monday': '8:0-20:0', 'Tuesday': '8:0-20:0', ..."
19106,elnr4-gJwYfUhc8SZLr1hA,Urban Fondue,2114 NW Glisan St,Portland,OR,97210,45.526194,-122.694844,4.0,409,1,"{'RestaurantsReservations': 'True', 'Restauran...","American (New), Restaurants, Desserts, Religio...","{'Monday': '0:0-0:0', 'Tuesday': '17:0-22:0', ..."
19158,AOLeCCm7OfUjZqNlo2wGEA,Restaurant 356,1 Porsche Dr,Atlanta,GA,30354,33.651765,-84.398578,4.0,51,1,"{'WiFi': 'u'no'', 'BusinessAcceptsCreditCards'...","American (New), Event Planning & Services, Res...","{'Thursday': '11:30-14:30', 'Friday': '11:30-1..."
19500,hezRGTnkTFEnB3i8b9OCyw,Bar Mercado,99-V Krog St,Atlanta,GA,30307,33.756847,-84.364253,4.0,174,1,"{'ByAppointmentOnly': 'True', 'HappyHour': 'Tr...","Restaurants, Latin American, Spanish, Tapas/Sm...","{'Monday': '0:0-0:0', 'Tuesday': '11:30-21:0',..."
19590,0jlUpkdXg3LCE44UKKhjqA,Portland City Grill,"111 SW 5th Ave, Fl 30",Portland,OR,97204,45.522215,-122.675948,4.0,2885,1,"{'Ambience': '{'romantic': False, 'intimate': ...","Asian Fusion, Restaurants, American (Tradition...","{'Monday': '0:0-0:0', 'Thursday': '0:0-0:0', '..."
19800,HdkcC0ClqOvU3GnzUVw6oA,ChickpeaDX,2707 NE Sandy Blvd,Portland,OR,97232,45.528642,-122.638748,4.0,83,0,"{'RestaurantsTakeOut': 'True', 'WiFi': ''free'...","Vegetarian, Restaurants, Middle Eastern","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
19900,1JZdtKTT9LIv2WWk6e7R-A,Great Room Escape,2632 Ridgepoint Dr,Austin,TX,78754,30.328676,-97.671386,5.0,119,1,"{'BikeParking': 'False', 'GoodForKids': 'False...","Active Life, Team Building Activities, Escape ...","{'Monday': '0:0-0:0', 'Tuesday': '10:0-21:0', ..."
20164,wgJ1WN_xKKEEW50O_HiFkw,Austin Convention Center,500 E Cesar Chavez St,Austin,TX,78701,30.263570,-97.739607,4.0,89,1,"{'RestaurantsTakeOut': 'False', 'RestaurantsDe...","Venues & Event Spaces, Convenience Stores, Foo...",None
20194,w2LDryQIIZVhlRGmXeWdfg,Sport Motoring - Hapeville,451 N Central Ave,Atlanta,GA,30354,33.655989,-84.403331,4.5,17,0,"{'WiFi': 'u'free'', 'ByAppointmentOnly': 'True...","Automotive, Auto Repair, Restaurants, Pizza, O...","{'Monday': '8:0-17:30', 'Tuesday': '8:0-17:30'..."
20273,9Fx5pl-i9arlXWWfJMNgVA,El Buda Latin Asian Restaurant,116 W Church St,Orlando,FL,32801,28.540053,-81.381107,4.0,109,0,"{'Caters': 'True', 'BusinessAcceptsCreditCards...","Asian Fusion, Latin American, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '11:30-22:0',..."
20477,LNQWn3oLBEbH-qPXulHa6A,Company Tonight Catering,337 NW Broadway,Portland,OR,97209,45.525763,-122.677639,4.5,10,1,"{'BusinessAcceptsCreditCards': 'True', 'WiFi':...","Event Planning & Services, DJs, Bartenders, Pa...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

#### check 'Open24Hours'

In [18]:
attr = 'Open24Hours'

In [19]:
restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)).value_counts(dropna = False)

NaN      20571
False       19
True         1
Name: attributes, dtype: int64

In [20]:
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)) == 'True']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
5640,qy2Pa43S_3acH40Cw7fAZA,Tik Tok,3330 SE 82nd Ave,Portland,OR,97266,45.498054,-122.57842,3.5,99,1,"{'HasTV': 'True', 'Caters': 'False', 'Business...","Bars, Diners, Nightlife, Restaurants, Sports B...","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."

In [21]:
restaurants_nomissing_attr_df[restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)) == 'False']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
850,jREzLrIEkc4jQKLfYMJ0gg,South Congress Cafe,1600 S Congress Ave,Austin,TX,78704,30.247926,-97.750642,4.0,2522,1,"{'Alcohol': ''full_bar'', 'Caters': 'False', '...","Afghan, Breakfast & Brunch, Burgers, Bars, Res...","{'Monday': '11:0-18:0', 'Tuesday': '11:0-18:0'..."
2734,1xtmV4xihClisFPiweQe8A,Ru San's,3365 Piedmont Rd NE,Atlanta,GA,30305,33.846838,-84.372400,3.5,412,1,"{'RestaurantsGoodForGroups': 'True', 'Business...","Japanese, Restaurants, Sushi Bars","{'Monday': '11:30-23:0', 'Tuesday': '11:30-23:..."
3893,BRPcQEdlla9YaM4TPqkYrQ,Hoover's Cooking,2002 Manor Rd,Austin,TX,78722,30.284386,-97.720344,3.5,919,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Southern, Caterers, American (Traditional), Re...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
4553,9RUitmrNSc5TyipGHe3yAw,Taqueria Los Jaliscienses,1815 W Ben White Blvd,Austin,TX,78704,30.228572,-97.787115,3.5,63,0,"{'BusinessAcceptsCreditCards': 'True', 'HasTV'...","Restaurants, Mexican","{'Monday': '6:0-23:0', 'Tuesday': '6:0-23:0', ..."
5439,jylGZBet5C2CwJ-X0odhsg,El Mercado,1702 Lavaca St,Austin,TX,78701,30.279683,-97.741373,3.0,252,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Local Flavor, Bars, Tex-Mex, Restaurants, Mexi...","{'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'..."
5650,OZM_XxddxWLSkvq9MjclgQ,Trader's Island Grill,2000 Hotel Plaza Blvd,Orlando,FL,32830,28.378342,-81.508629,2.5,7,1,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Restaurants, Tex-Mex, Mexican, American (Tradi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."
7811,mId-HN-F1HO2OEAxdrrg1A,Santa Rita Tex-Mex Cantina,1206 W 38th St,Austin,TX,78705,30.306804,-97.744306,3.5,296,1,"{'RestaurantsPriceRange2': '2', 'RestaurantsRe...","Tex-Mex, Restaurants, Event Planning & Service...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
9083,c2l14RZhwAsOTk42Q_2sWg,Aussie's Grill & Beach Bar,306 Barton Springs Rd,Austin,TX,78704,30.259011,-97.748227,3.0,176,1,"{'RestaurantsReservations': 'True', 'Restauran...","American (New), Burgers, Bars, Nightlife, Rest...","{'Monday': '11:0-2:0', 'Tuesday': '11:0-2:0', ..."
9091,oM-slnbPCoTqxxGKo7fx3A,El Gaucho,319 SW Broadway,Portland,OR,97205,45.521547,-122.678709,4.0,592,1,"{'BYOBCorkage': ''yes_corkage'', 'Corkage': 'T...","Restaurants, Steakhouses, Seafood, Event Plann...","{'Monday': '0:0-0:0', 'Wednesday': '16:0-19:0'..."
9451,9-gSCzV0UsZuO07m6zFP_A,Clay's Smokehouse,2865 SE Division St,Portland,OR,97202,45.504929,-122.636294,4.0,251,0,"{'RestaurantsAttire': ''casual'', 'BusinessAcc...","Barbeque, Food, Restaurants, Smokehouse, Ameri...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
12040,8PodPpkZPqud0_uQJPfYuA,Noodle,"903 Peachtree St, Ste A",Atlanta,GA,30309,33.779214,-84.383812,3.5,431,0,"{'RestaurantsTakeOut': 'True', 'HasTV': 'True'...","Vietnamese, Pan Asian, Thai, Restaurants, Asia...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
12958,yaEAPu_5UEleccATrQuzZQ,Vermont Mustard Company,"2355 Cumberland Pkwy, Ste 110",Atlanta,GA,30339,33.859198,-84.480448,4.0,38,0,"{'BusinessParking': '{'garage': False, 'street...","Restaurants, Breakfast & Brunch, American (Tra...",None
13693,xdIY9G8f_PeXxaMcMTAYUw,Central Market - North Lamar,4001 N Lamar Blvd,Austin,TX,78756,30.307610,-97.739877,4.0,647,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsPri...","Beer, Wine & Spirits, Restaurants, Cooking Cla...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
15353,ZnTaHc4JP2E4cmER3umAJw,Le Bistro Montage,301 SE Morrison St,Portland,OR,97214,45.517408,-122.662560,3.5,1476,0,"{'RestaurantsGoodForGroups': 'True', 'Caters':...","Bars, Lounges, Cajun/Creole, Southern, Vegan, ...","{'Monday': '0:0-0:0', 'Wednesday': '17:0-22:0'..."
15689,W4qgeKWYnnIjjG2ZGhzpvg,BrickTop's,"3280 Peachtree Rd NE, Ste 100",Atlanta,GA,30305,33.844667,-84.370854,4.0,284,0,"{'RestaurantsPriceRange2': '2', 'BusinessAccep...","Party Supplies, Restaurants, Bars, Sushi Bars,...","{'Monday': '11:0-22:0', 'Tuesday': '11:0-22:0'..."
15796,NAFevYFB5Yw0dyDH7xDB7A,Stanich's,4915 NE Fremont St,Portland,OR,97213,45.548425,-122.612456,3.0,359,1,"{'RestaurantsTableService': 'True', 'BYOB': 'F...","Salad, Bars, Burgers, Restaurants, Event Plann...","{'Tuesday': '11:0-20:0', 'Wednesday': '11:0-20..."
17300,dVbj-D8JF7jNtlbC97D1rw,Thundercloud Subs,6105 E Hwy 290,Austin,TX,78735,30.321540,-97.705360,3.0,53,1,"{'Ambience': '{'romantic': False, 'intimate': ...","Salad, Juice Bars & Smoothies, Restaurants, Sa...","{'Monday': '10:30-21:0', 'Tuesday': '10:30-21:..."
18267,0junHGPIoDR-S7EbTSEFBg,Chefs de France,1830 Avenue Of The Stars,Orlando,FL,32830,28.368914,-81.552714,3.5,619,1,"{'BikeParking': 'False', 'BusinessAcceptsCredi...","Restaurants, French","{'Monday': '12:30-20:40', 'Tuesday': '12:30-20..."
18340,K6PX7SXHfcttCVgVp-vzAA,Los Gorditos,3420 SE 50th Ave,Portland,OR,97206,45.497960,-122.610991,4.0,271,0,"{'WheelchairAccessible': 'False', 'DietaryRest...","Restaurants, Mexican, Food Trucks, Food","{'Monday': '10:0-21:0', 'Tuesday': '10:0-21:0'..."

#### check 'DietaryRestrictions'

In [22]:
attr = 'DietaryRestrictions'

In [23]:
restaurants_nomissing_attr_df.attributes.apply(lambda x: x.get(attr)).value_counts(dropna = False)

NaN                                                                                                                                    20564
{'dairy-free': False, 'gluten-free': False, 'vegan': False, 'kosher': False, 'halal': False, 'soy-free': False, 'vegetarian': True}        7
{'dairy-free': False, 'gluten-free': True, 'vegan': False, 'kosher': False, 'halal': False, 'soy-free': False, 'vegetarian': False}        5
{'dairy-free': False, 'gluten-free': False, 'vegan': True, 'kosher': False, 'halal': False, 'soy-free': False, 'vegetarian': False}        4
{'dairy-free': False, 'gluten-free': True, 'vegan': True, 'kosher': False, 'halal': False, 'soy-free': False, 'vegetarian': False}         4
{'dairy-free': False, 'gluten-free': False, 'vegan': True, 'kosher': False, 'halal': False, 'soy-free': False, 'vegetarian': True}         3
{'dairy-free': False, 'gluten-free': True, 'vegan': True, 'kosher': False, 'halal': False, 'soy-free': False, 'vegetarian': True}          2
{'dairy-free': True, 'gluten-free': True, 'vegan': False, 'kosher': False, 'halal': False, 'soy-free': False, 'vegetarian': False}         1
None                                                                                                                                       1
Name: attributes, dtype: int64