# About
This notebook is to create a data frame containing `business_id`'s of restaurants which Team 7 would analyze. These are restaurants in top 5 cities in Yelp business dataset that have highest number of restaurants, and they existed prior to the pandemic.

In [1]:
import json
import pandas as pd
import preprocess

# 1. Get the restaurants' business_ids

## Load Yelp business dataset

In [2]:
data_file = open("yelp_academic_dataset_business.json")
data = []
for line in data_file:
    data.append(json.loads(line))
business_df = pd.DataFrame(data)
data_file.close()

## Subset to restaurants in top 5 cities

In [3]:
# subset the business dataset to obtain only restaurants located in the U.S.
restaurants_us = preprocess.get_restaurants_usa(business_df)

In [4]:
restaurants_us.shape

(42917, 14)

In [5]:
# get the top 5 cities that has the most restaurants
top5 = preprocess.get_top_cities(restaurants_us)
top5

['PORTLAND', 'AUSTIN', 'ATLANTA', 'ORLANDO', 'BOSTON']

In [10]:
# identify keywords
include_city1 = restaurants_us['city'].str.contains('PORTLAND', na = False)
include_city2 = restaurants_us['city'].str.contains('AUSTIN', na = False)
include_city3 = restaurants_us['city'].str.contains('ATLANTA', na = False)
include_city4 = restaurants_us['city'].str.contains('ORLANDO', na = False)
include_city5 = restaurants_us['city'].str.contains('BOSTON', na = False)

In [11]:
restaurants_us['city'] = restaurants_us['city'].str.upper()

In [12]:
# subset restaurants in top 5 cities
restaurants_top5 = restaurants_us[include_city1 | include_city2 | include_city3 | include_city4 | include_city5]

In [13]:
restaurants_top5.shape

(21353, 14)

In [14]:
restaurants_top5['city'].value_counts() #sanity check

PORTLAND                     5691
AUSTIN                       4934
ATLANTA                      4158
ORLANDO                      3701
BOSTON                       2801
EAST BOSTON                    40
SOUTH BOSTON                   19
SOUTHEAST ORLANDO               1
PORTLAND-EASTPORT PLAZA         1
NORTHEAST ORLANDO               1
ALTAMONTE SPRINGS ORLANDO       1
AUSTIN TEXAS                    1
S BOSTON                        1
PORTLAND-GATEWAY PLAZA          1
ATLANTA  (BKHD)                 1
BOSTON-FENWAY                   1
Name: city, dtype: int64

### ------ begin insertion ---------------------

### ------ end of insertion ---------------------

In [15]:
# get these restaurants' business_ids
ids_restaurants_top5 = restaurants_top5[['business_id']]

# 2. Get reviews' business_ids

## Load Yelp review dataset

In [16]:
data_file = open("yelp_academic_dataset_review.json")
data = []
for line in data_file:
    data.append(json.loads(line))
review_df = pd.DataFrame(data)
data_file.close()

## Subset review dataset

In [17]:
# get business_ids of reviews posted pre pandemic
ids_reviews_pre_covid = preprocess.get_ids_reviews_pre_covid(review_df)

In [18]:
ids_reviews_pre_covid.shape

(158582, 1)

# 3. Inner join restaurants' and reviews' business_ids

In [21]:
ids_restaurants_top5cities_pre_pandemic = ids_restaurants_top5.merge(ids_reviews_pre_covid, on = 'business_id')
ids_restaurants_top5cities_pre_pandemic

                  business_id
0      tCbdrRPZA0oiIYSmHG3J0w
1      ufCxltuh56FF4-ZFZ6cVhg
2      hcRxdDg7DYryCxCoI8ySQA
3      jGennaZUr2MsJyRhijNBfA
4      iPD8BBvea6YldQZPHzVrSQ
...                       ...
20688  m5eUPVD0Hu39Ff-Uqe-FLA
20689  87f7kR7nTz8WHnmtLM_S6w
20690  jYgqSazE0gUyI7qq086Dzw
20691  r5Uag1JqYjr2nbxQCVqm8A
20692  uXdQkuEtvLAzfc3MsO-sTQ

[20693 rows x 1 columns]

In [22]:
ids_restaurants_top5cities_pre_pandemic.shape

(20693, 1)

In [23]:
# export business_id of this restaurants
ids_restaurants_top5cities_pre_pandemic.to_csv(r'ids_restaurants_top5cities_pre_pandemic.csv',index = False)